<p-toast></p-toast>
<section class="card">
  <div class="grid mb-7">
    <div class="col-12 lg:col-7">
      <div class="flex">
        <div
          class="flex flex-column w-2 justify-content-between"
          style="row-gap: 1rem"
        >
          <img
            *ngFor="let lantern of lanterns; let i = index"
            [ngClass]="{ 'border-primary': selectedImageIndex === i }"
            src="assets/images/{{ lantern.image }}"
            class="w-full cursor-pointer border-2 border-transparent transition-colors transition-duration-150 border-round"
            (click)="selectedImageIndex = i"
          />
        </div>
        <div class="pl-3 w-10 flex">
          <img
            src="assets/images/{{ lanterns[selectedImageIndex].image }}"
            class="w-full border-2 border-transparent border-round"
          />
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-4 py-3 lg:pl-6">
      <div class="flex align-items-center text-2xl font-medium text-900 mb-4">
        <b>Sky Lantern</b>
      </div>
      <div class="flex align-items-center justify-content-between mb-5">
        <span class="text-900 font-medium text-3xl block">$5</span>
        <div class="flex align-items-center">
          <span class="mr-3">
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star text-600 mr-1"></i>
          </span>
          <span class="text-sm"
            ><b class="text-900 mr-1">24</b>
            <span class="text-500"></span>reviews</span
          >
        </div>
      </div>

      <div class="font-bold text-900 mb-3">Color</div>
      <div class="flex align-items-center mb-5">
        <div
          *ngFor="let lanternColor of lanternColors"
          [ngClass]="getColorClass(lanternColor)"
          [style.box-shadow]="
            lanternColor === color ? '0 0 0 0.2rem var(--orange-100)' : null
          "
          (click)="color = lanternColor"
          class="mx-2 w-2rem h-2rem flex-shrink-0 border-circle cursor-pointer border-2 surface-border transition-all transition-duration-300"
        ></div>
      </div>

      <div class="font-bold text-900 mb-3">Quantity</div>
      <div
        class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between"
      >
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          [min]="1"
          inputStyleClass="w-3rem text-center"
          [(ngModel)]="quantity"
          decrementButtonClass="p-button-text"
          incrementButtonClass="p-button-text"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        ></p-inputNumber>
        <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
          <p-button
            pRipple
            label="Add To Cart"
            (click)="addToCart()"
            class="flex-1 mr-5"
          ></p-button>
        </div>
        <div
          class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5"
          *ngIf="cartHasItems()"
        >
          <p-button
            pRipple
            label="Show Cart"
            (click)="showCart()"
            class="flex-1 mr-5"
          ></p-button>
        </div>
      </div>

      <div>
        <div class="font-bold text-900 mt-3">Offers</div>
        <ul>
          <li>3 Lanterns: 12$</li>
          <li>5 Lanterns: 18$</li>
          <li>10 Lanterns: 30$</li>
        </ul>
        <p>Offer prices Automatically Applied after purchase</p>
      </div>
    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Details">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Product Details</div>
      <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">
        Our sky lanterns are crafted with eco-friendly, biodegradable materials,
        offering a magical experience while ensuring environmental safety. Each
        lantern is designed for easy use, featuring a non-drip fuel cell and
        pre-attached to minimize setup time. Perfect for festivals, weddings,
        and other celebrations, our lanterns soar into the sky, creating
        mesmerizing visuals. Float away into the night sky with our durable,
        lightweight paper lanterns.
      </p>

      <div class="grid">
        <div class="col-12 lg:col-4">
          <span class="text-900 block font-medium mb-3 font-bold"
            >Highlights</span
          >
          <ul class="py-0 pl-3 m-0 text-600 mb-3">
            <li class="mb-2">Environmentally friendly materials.</li>
            <li class="mb-2">Easy to light and release.</li>
            <li class="mb-2">Perfect for various celebrations.</li>
            <li>Creates a stunning visual effect in the night sky.</li>
          </ul>
        </div>
        <div class="col-12 lg:col-4">
          <span class="text-900 block mb-3 font-bold">Size and Fit</span>
          <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
            <li class="mb-3">
              <span class="font-semibold">Dimensions:</span> Standard size,
              suitable for gentle winds.
            </li>
            <li class="mb-3">
              <span class="font-semibold">Weight:</span> Light, yet sturdy for a
              stable ascent.
            </li>
            <li>
              <span class="font-semibold">Flight Time:</span> Long-lasting burn
              for extended flight.
            </li>
          </ul>
        </div>
        <div class="col-12 lg:col-4">
          <span class="text-900 block mb-3 font-bold">Material & Care</span>
          <ul class="p-0 m-0 flex flex-wrap flex-column text-600">
            <li
              class="flex align-items-center white-space-nowrap w-10rem block mr-2 mb-3"
            >
              <i class="pi pi-sun mr-2 text-900"></i>
              <span>Fire-resistant material</span>
            </li>
            <li
              class="flex align-items-center white-space-nowrap w-10rem block mb-3"
            >
              <i class="pi pi-minus-circle mr-2 text-900"></i>
              <span>Biodegradable, leaves no waste</span>
            </li>
          </ul>
        </div>
      </div>
    </p-tabPanel>
    <!-- <p-tabPanel header="Reviews">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Customer Reviews</div>
      <ul class="list-none p-0 m-0">
        <li class="pb-5 border-bottom-1 surface-border">
          <span>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-gray-500"></i>
          </span>
          <div class="text-900 font-bold text-xl my-3">
            Absolute Perfection!
          </div>
          <p class="mx-0 mt-0 mb-3 text-600 line-height-3">
            Blandit libero volutpat sed cras ornare arcu dui vivamus. Arcu
            dictum varius duis at consectetur lorem donec massa. Imperdiet proin
            fermentum leo vel orci porta non. Porttitor rhoncus dolor purus non.
          </p>
          <span class="font-medium">Darlene Robertson, 2 days ago</span>
        </li>
        <li class="py-5 border-bottom-1 surface-border">
          <span>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
            <i class="pi pi-star-fill text-yellow-500"></i>
          </span>
          <div class="text-900 font-bold text-xl my-3">Classy</div>
          <p class="mx-0 mt-0 mb-3 text-600 line-height-3">
            Venenatis cras sed felis eget. Proin nibh nisl condimentum id
            venenatis a condimentum.
          </p>
          <span class="font-medium">Kristin Watson, 2 days ago</span>
        </li>
      </ul>
    </p-tabPanel> -->
    <p-tabPanel header="Shipping and Returns">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">
        Shipping Placeholder
      </div>
      <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">
        We are working on offering worldwide shipping with tracking on all
        orders. Our sky lanterns are carefully packaged to ensure they arrive in
        perfect condition. In the rare event of any issues, our
        customer-friendly return policy ensures a hassle-free process.
      </p>

      <div class="grid">
        <div class="col-12 md:col-6">
          <span class="text-900 block font-bold mb-3 font-bold"
            >Shipping Costs</span
          >
          <ul class="py-0 pl-3 m-0 text-600 mb-3">
            <li class="mb-2">Beirut - USD 3.</li>
            <li class="mb-2">Other - USD 4</li>
          </ul>
        </div>
        <div class="col-12 md:col-6">
          <span class="text-900 block font-bold mb-3">Return Policy</span>
          <p class="line-height-3 text-600 p-0 m-0">
            We Offer NO Returns, Once bought, you can't return the product.
          </p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Contact Us">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Connect With Us</div>

      <div class="grid">
        <div class="col-12 md:col-4">
          <span class="text-900 block font-bold mb-3">Follow Us</span>
          <ul class="py-0 pl-3 m-0 text-600 mb-3 social-media">
            <li class="mb-2" *ngFor="let link of socialMediaLinks">
              <a
                href="{{ link.url }}"
                target="_blank"
                class="flex align-items-center gap-2"
              >
                <i class="{{ 'pi ' + link.icon }}" style="font-size: 1.5em"></i>
                {{ link.name }}
              </a>
            </li>
          </ul>
        </div>

        <!-- Contact Information -->
        <div class="col-12 md:col-4">
          <span class="text-900 block font-bold mb-3">Contact Information</span>
          <p class="line-height-3 text-600 p-0 m-0 mb-4">
            <strong>Phone:</strong>
            <a href="https://wa.me/96171067260" target="_blank"
              >+961 71 067 260</a
            >
          </p>
          <p class="line-height-3 text-600 p-0 m-0">
            Have questions or need assistance? Reach out to us via WhatsApp or
            follow us on social media for updates and more.
          </p>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</section>

<p-dialog header="Shipping Information" [(visible)]="display">
  <div class="flex align-content-center justify-content-center">
    <p-card [formGroup]="shippingForm" class="my-1">
      <div class="flex md:flex-row flex-column gap-1 mb-2">
        <input
          placeholder="Name"
          formControlName="name"
          pInputText
          class="w-full"
        />
        <p-inputNumber
          placeholder="Phone Number"
          formControlName="phone"
          class="w-full"
          mode="decimal"
          [useGrouping]="false"
        ></p-inputNumber>
      </div>
      <div>
        <input
          placeholder="Address"
          formControlName="address"
          pInputText
          class="w-full mb-2"
        />
      </div>
      <div>
        <input
          placeholder="Special Instructions"
          type="text"
          pInputText
          class="w-full mb-2"
          formControlName="message"
        />
      </div>

      <p-button
        pbutton
        label="Finalize your order"
        icon="pi pi-fw pi-check"
        class="p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2"
        [disabled]="!shippingForm.valid"
        (onClick)="confirm()"
      ></p-button>
    </p-card>
  </div>
</p-dialog>

<p-dialog header="My Cart" [(visible)]="showCartDialog">
  <ul class="pl-0 flex flex-column gap-1 mx-4">
    <li
      *ngFor="let item of cartItems$ | async"
      class="flex align-items-center justify-content-between gap-1"
    >
      <span>{{ item.quantity }} {{ item.color }} Lanterns</span>
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        (click)="removeProduct(item.color)"
      ></p-button>
    </li>
    <p-button
      pRipple
      label="Buy"
      (click)="showDialog()"
      [disabled]="!!(isCartEmpty$ | async)"
    ></p-button>
  </ul>
</p-dialog>
